---
import Layout from "../layouts/Layout.astro";

import Brands from "../components/Brands.astro";
import Features from "../sections/Features.astro";
import Footer from "../sections/Footer.astro";
import FrequentlyAskedQuestions from "../sections/FrequentlyAskedQuestions.astro";
import Home from "../sections/Home.astro";
import NavBar from "../sections/NavBar.astro";
import Process from "../sections/Process.astro";
import Services from "../sections/Services.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <NavBar />
    <Home />
    <Brands />
    <Process />
    <Services />
    <Features />
    <FrequentlyAskedQuestions />
  </main>
  <Footer />
</Layout>
