---
import Layout from "../layouts/Layout.astro";

import AboutUs from "../sections/AboutUs.astro";
import Features from "../sections/Features.astro";
import Footer from "../sections/Footer.astro";
import FrequentlyAskedQuestions from "../sections/FrequentlyAskedQuestions.astro";
import Home from "../sections/Home.astro";
import NavBar from "../sections/NavBar.astro";
import Process from "../sections/Process.astro";
import Services from "../sections/Services.astro";
import BeforeFooter from "../sections/BeforeFooter.astro";
import Contact from "../sections/Contact.astro";
---

<Layout title="Welcome to Astro.">
  <NavBar />

  <main>
    <Home />
    <div class="px-6">
      <AboutUs />
      <Process />
      <Services />
      <Features />
      <FrequentlyAskedQuestions />
    </div>

    <Contact />
    <div class="px-6">
      <BeforeFooter />
    </div>
  </main>
  <Footer />
</Layout>
