---
import FQJsx from "./jsx/FQJsx";
---

<section class="max-w-[1220px] mx-auto pb-[120px] flex flex-col gap-16 px-5">
  <div class="space-y-4">
    <h2
      class="text-negro text-balance
       max-w-[500px] mx-auto text-center text-4xl sm:text-5xl font-semibold"
      data-aos="fade-up"
    >
      Got Questions? We've Got Answers!
    </h2>

    <p
      class="text-plomo text-center text-lg font-medium
        max-w-[600px] mx-auto"
      data-aos="fade-up"
    >
      Effortlessly Track, Manage, and Optimize Your Personal and Business
      Finances. Your Comprehensive Companion.
    </p>
  </div>

  <div class="max-w-[750px] mx-auto w-full">
    <FQJsx client:load />
  </div>
</section>
