---
import ArrowUpRight from "./icons/ArrowUpRight.astro";
---

<section
  class="max-w-[1220px] mx-auto
flex flex-col gap-16 pt-[50px] pb-[40px] lg:pb-[100px] px-5"
>
  <div class="space-y-4">
    <h2
      class="text-negro text-center text-4xl sm:text-5xl font-semibold"
      data-aos="fade-up"
    >
      Benefits that helps you grow
    </h2>

    <p
      class="text-plomo text-center text-lg font-medium
       text-balance max-w-[500px] mx-auto"
      data-aos="fade-up"
    >
      Effortlessly Track, Manage, and Optimize Your Personal and Business
      Finances. Your Comprehensive Companion.
    </p>
  </div>

  <!-- Items -->
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5">
    <!-- Item 1 -->
    <div data-aos="zoom-in" class="p-8 border border-primary rounded-3xl">
      <!--Icon and Text-->
      <div class="flex gap-3 mb-4 items-center">
        <div
          class="bg-primary text-white size-10 min-w-[40px]
           flex-nowrap
          rounded-full flex justify-center items-center"
        >
          <ArrowUpRight className="size-6" />
        </div>
        <h5 class="text-xl font-semibold">Expense Tracking</h5>
      </div>

      <!--description-->
      <p class="text-plomo font-medium text-lg">
        Easily track your expenses in real-time, categorize transactions, and
        set budget limits for different spending.
      </p>
    </div>

    <!-- Item 2 -->
    <div data-aos="zoom-in" class="p-8 border border-primary rounded-3xl">
      <!--Icon and Text-->
      <div class="flex gap-3 mb-4 items-center">
        <div
          class="bg-primary text-white size-10 min-w-[40px] rounded-full flex justify-center items-center"
        >
          <ArrowUpRight className="size-6" />
        </div>
        <h5 class="text-xl font-semibold">Expense Tracking</h5>
      </div>

      <!--description-->
      <p class="text-plomo font-medium text-lg">
        Easily track your expenses in real-time, categorize transactions, and
        set budget limits for different spending.
      </p>
    </div>

    <!-- Item 3 -->
    <div
      data-aos="zoom-in"
      class="p-8 md:col-span-2
     lg:col-span-1 border border-primary rounded-3xl"
    >
      <!--Icon and Text-->
      <div class="flex gap-3 mb-4 items-center">
        <div
          class="bg-primary text-white size-10 min-w-[40px] rounded-full flex justify-center items-center"
        >
          <ArrowUpRight className="size-6" />
        </div>
        <h5 class="text-xl font-semibold">Expense Tracking</h5>
      </div>

      <!--description-->
      <p class="text-plomo font-medium text-lg">
        Easily track your expenses in real-time, categorize transactions, and
        set budget limits for different spending.
      </p>
    </div>
  </div>
</section>
