---
import StarIcon from "./icons/StarIcon.astro";

import testimoneos_data from "../data/testimoneos_data.js";
---

<section
  class="max-w-[1220px] mx-auto
flex flex-col gap-16 py-[56px] lg:pb-[120px] px-5"
>
  <div class="space-y-4">
    <h2
      class="text-negro text-center text-3xl md:text-5xl font-semibold"
      data-aos="fade-up"
    >
      See Why People Love Us
    </h2>

    <p
      class="text-plomo text-center text-lg font-medium
     text-balance max-w-[500px] mx-auto"
      data-aos="fade-up"
    >
      Effortlessly Track, Manage, and Optimize Your Personal and Business
      Finances. Your Comprehensive Companion.
    </p>
  </div>

  <div
    class="[column-fill:_balance]
    sm:columns-2 sm:gap-6 lg:columns-3 lg:gap-8"
  >
    {
      testimoneos_data.map((item) => (
        <div data-aos="zoom-in" class="mb-8 sm:break-inside-avoid">
          <blockquote
            class="rounded-3xl border border-primary
       p-6 shadow-sm sm:p-8"
          >
            <div class="flex items-center gap-4">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                class="size-14 rounded-full object-cover"
              />

              <div>
                <div class="flex justify-center gap-0.5 text-green-500">
                  <StarIcon className="text-primary size-5" />
                  <StarIcon className="text-primary size-5" />
                  <StarIcon className="text-primary size-5" />
                  <StarIcon className="text-primary size-5" />
                  <StarIcon className="text-primary size-5" />
                </div>

                <p
                  class="mt-0.5 text-lg font-semibold
             text-negro"
                >
                  {item.name}
                </p>
              </div>
            </div>

            <p class="mt-4 text-plomo">{item.text}</p>
          </blockquote>
        </div>
      ))
    }
  </div>
</section>
