---
import brands from "../data/brands.js";
import Badget from "../components/Badget.astro";
---

<section
  class="pt-[120px] pb-[80px] flex flex-col px-5 gap-8 max-w-[1280px] mx-auto"
  data-aos="fade-up"
>
  <Badget title="Quiénes Somos" />

  <h2 class="text-3xl md:text-5xl font-medium text-center text-balance">
    Calisto is an AI automation agency helping modern businesses streamline
    operations, boost productivity, and scale smarter.
  </h2>

  <div
    class="h-px w-full max-w-[700px] mx-auto bg-gradient-to-r from-transparent via-gray-300 to-transparent my-4"
  >
  </div>

  <p class="font-medium text-text-secundary text-sm text-center">
    Trusted by 100+ partners & businesses
  </p>

  <!-- Marcas -->
  <div
    data-aos="fade-up"
    class="w-full
     mx-auto max-w-[900px]
      flex px-6
       overflow-hidden gap-16
        [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]"
  >
    <ul
      class="flex items-center justify-center
       gap-16 md:justify-start [&_li]:mx-8
        [&_img]:max-w-none animate-infinite-scroll"
    >
      {
        brands.map((brand) => (
          <img width="120" src={brand.url} alt={brand.name} loading="lazy"/>
        ))
      }
    </ul>
    <ul
      class="flex items-center justify-center gap-16
       md:justify-start [&_li]:mx-8 [&_img]:max-w-none
        animate-infinite-scroll"
      aria-hidden="true"
    >
      {
        brands.map((brand) => (
          <img width="120" src={brand.url} alt={brand.name} />
        ))
      }
    </ul>
  </div>
</section>
