<footer class="liquid-effect flex justify-between items-center rounded-sm py-5 px-5 max-w-[1280px] mx-auto">
  <div class="space-y-3">
    <img
      class="max-w-[87px]"
      src="https://framerusercontent.com/images/AUY5upt5Rt4jpjJ1gntrqMjSM.svg"
    />

    <p class="text-sm font-medium text-balance max-w-[300px]">
      Streamline operations, boost productivity, and scale smarter with Calisto.
    </p>
  </div>

  <div class="space-y-3">
    <p class="text-base font-medium text-balance">hello@calisto.com</p>
    <p class="text-base font-medium text-balance">(123) 456-7890</p>
  </div>
</footer>
