<footer class="px-6">
  <div
    class="liquid-effect flex justify-between items-center rounded-sm py-5 px-5  mx-auto max-w-[1280px]"
  >
    <div class="space-y-3">
      <img
        class="max-w-[130px]"
        src="/public/img/logo.webp"
      />

      <p class="text-sm font-medium text-balance max-w-[300px]">
        Streamline operations, boost productivity, and scale smarter with
        Calisto.
      </p>
    </div>

    <div class="space-y-3">
      <p class="text-base font-medium text-balance">hello@calisto.com</p>
      <p class="text-base font-medium text-balance">(123) 456-7890</p>
    </div>
  </div>

  <div class="flex justify-between text-sm py-4 text-text-secundary  mx-auto max-w-[1280px]">
    <p>Designed in Framer By Thaer</p>
    <p>© 2025 All rights reserved</p>
  </div>
</footer>
