---
import CurvedLines from "../components/CurvedLines.astro";
---

<section class="relative min-h-[100dvh] flex flex-col justify-center items-center text-center px-6 overflow-hidden">
  <!-- Video de fondo -->
<video
  src="/video-home.mp4"
  class="absolute inset-0 w-full h-full object-cover block opacity-20"
  autoplay
  muted
  loop
  playsinline
></video>

  <!-- Contenido centrado -->
  <div class="space-y-6 relative z-10">
    <h1 class="text-8xl font-medium leading-tight">
      AI-Powered Automation <br />
      <span class="text-primary">for Modern Teams</span>
    </h1>

    <p class="text-text-secundary font-medium">
      Streamline operations, boost productivity, and scale smarter with Calisto.
    </p>

  </div>

  <!-- Círculo Get Started fijo abajo -->
  <div class="absolute bottom-10 left-1/2 transform -translate-x-1/2 w-40 h-40">
    <div class="relative w-full h-full rounded-full">
      <div class="absolute inset-0 bg-primary rounded-full blur-lg"></div>
      <div class="relative flex items-center justify-center w-full h-full border border-white rounded-full text-white font-medium">
        Get Started
      </div>
    </div>
  </div>
</section>
