---

---

<nav class="w-full z-[1000]">
  <div class="max-w-7xl mx-auto px-4 py-5 flex items-center justify-between">
    <!-- Logo -->
    <div class="text-xl font-bold">
      <img class="max-w-[150px]" src="/img/logo.webp" loading="lazy" />
    </div>

    <!-- Menú en desktop -->
    <div
      class="hidden md:flex space-x-8 text-sm font-semibold text-[#525252] tracking-tight"
    >
      <a href="#top" class="hover:text-primary">Inicio</a>
      <a href="#" class="hover:text-primary">Services</a>
      <a href="#process" class="hover:text-primary">Proceso</a>
      <a href="#solutions" class="hover:text-primary">Soluciones</a>
      <a href="#" class="hover:text-primary">Blog</a>
      <a href="#contact" class="hover:text-primary">Contacto</a>
    </div>

    <!-- Botón -->
    <a
      href="#contact"
      class="hidden md:flex items-center justify-center rounded-full bg-white border-[3px]
       border-white text-gray-700 no-underline shadow-fancy w-full max-w-[117.39px] min-h-[41.2px]"
      role="button"
      aria-label="Book a Call"
    >
      <span class="text-base font-semibold">Contáctanos</span>
    </a>

    <!-- Botón hamburguesa (solo mobile) -->
    <button id="menu-btn" class="md:hidden flex flex-col space-y-1">
      <span class="w-6 h-0.5 bg-black"></span>
      <span class="w-6 h-0.5 bg-black"></span>
      <span class="w-6 h-0.5 bg-black"></span>
    </button>
  </div>

  <!-- Menú móvil -->
  <div id="mobile-menu" class="hidden flex-col space-y-4 px-4 pb-4 md:hidden">
    <a href="#" class="hover:text-text-primary">Home</a>
    <a href="#" class="hover:text-text-primary">About</a>
    <a href="#" class="hover:text-text-primary">Contact</a>
    <button class="liquid-effect text-text-primary px-4 py-2 rounded-lg">
      Sign Up
    </button>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuBtn = document.getElementById("menu-btn");
    const nav = document.querySelector("nav");

    menuBtn.addEventListener("click", () => {
      nav.classList.toggle("menu-open");
      const mobileMenu = document.getElementById("mobile-menu");
      mobileMenu.classList.toggle("hidden");
      mobileMenu.classList.toggle("flex");
    });
  });
</script>
