---
import Badget from "../components/Badget.astro";
import LiquidCard from "../components/LiquidCard.astro";
---

<section
  data-aos="fade-up"
  class="pt-[120px] pb-[120px] space-y-14 flex flex-col  max-w-[1280px] mx-auto"
>
  <div class="space-y-4">
    <Badget title="Process" />

    <h2 class="text-3xl md:text-5xl font-medium text-center">
      How We Bring Automation to Life
    </h2>
    <p class="font-medium text-text-secundary text-base text-center">
      We understand your needs and build tailored AI solutions.
    </p>
  </div>

  <!--  Items -->
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
    <!--  Item 1 -->
    <LiquidCard
      imgSrc="/public/img/il-p-p1.webp"
      title="Discover & Analyze"
      description="We start by understanding your business, identifying bottlenecks, and mapping out opportunities for automation."
    />

    <!--  Item 2 -->
    <LiquidCard
      imgSrc="/public/img/il-p-p2.webp"
      title="Discover & Analyze"
      description="We start by understanding your business, identifying bottlenecks, and mapping out opportunities for automation."
    />

    <!--  Item 3 -->
    <LiquidCard
      imgSrc="/public/img/il-p-p3.webp"
      title="Discover & Analyze"
      description="We start by understanding your business, identifying bottlenecks, and mapping out opportunities for automation."
    />
  </div>
</section>
