---
import Badget from "../components/Badget.astro";
import LiquidCard from "../components/LiquidCard.astro";
import LiteYouTube from "../components/LiteYouTube.astro";
---

<section
  class="pt-[120px] pb-[120px] space-y-14 flex flex-col max-w-[1280px] mx-auto"
>
  <div class="space-y-4" data-aos="fade-up">
    <Badget title="Process" />

    <h2 class="text-3xl md:text-5xl font-medium text-center text-balance">
      Cada proyecto es único, así lo convertimos en energía...
    </h2>
    <p class="font-medium text-text-secundary text-base text-center">
      Entendemos sus necesidades y construimos soluciones personalizadas.
    </p>
  </div>

 <!--  <LiteYouTube
    videoId={"https://www.youtube.com/watch?v=ZX_mvoY_Hg0&list=RDZX_mvoY_Hg0&start_radio=1"}
    title="La velada del año"
    backgroundImage="/images/La-velada-del-año-v.webp"
    withShadowImage={true}
  /> -->

  <!--  Items -->
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <!--  Item 1 -->
    <LiquidCard
      imgSrc="/img/il-p-p1.webp"
      title="Información del Sitio"
      imgClass="max-w-[360px] mx-auto"
      description="Recopilamos datos clave del lugar de instalación: ubicación, red eléctrica disponible y condiciones técnicas."
    />

    <!--  Item 2 -->
    <LiquidCard
      imgSrc="/img/il-p-p2.webp"
      imgClass="max-w-[360px] mx-auto"
      title="Diseño de Capacidades"
      description="Definimos el número y tipo de cargadores según las necesidades de uso, crecimiento esperado y normativas vigentes."
    />

    <!--  Item 3 -->
    <LiquidCard
      imgSrc="/img/il-p-p3.webp"
      imgClass="max-w-[360px] mx-auto"
      title="Dimensionamiento de Solución"
      description="Integramos hardware, software y, si es necesario, sistemas BESS para asegurar eficiencia, escalabilidad y continuidad."
    />

    <!--  Item 4 -->
    <LiquidCard
      imgSrc="/img/il-p-p4.webp"
      imgClass="max-w-[360px] mx-auto"
      title="Simulación Financiera"
      description="Integramos hardware, software y, si es necesario, sistemas BESS para asegurar eficiencia, escalabilidad y continuidad."
    />
  </div>
</section>
