---
import Badget from "../components/Badget.astro";
import LiquidCard from "../components/LiquidCard.astro";
---

<section
  data-aos="fade-up"
  class="mt-[40px] pt-[120px] pb-[120px] liquid-effect space-y-14 flex flex-col px-5 max-w-[1280px] mx-auto"
>
  <div class="space-y-4">
    <Badget title="Services" />

    <h2 class="text-3xl md:text-5xl font-medium text-center">
      AI Solutions Built for Efficiency
    </h2>
    <p class="font-medium text-text-secundary text-base text-center">
      We streamline operations so your team can move faster, with less effort.
    </p>
  </div>

  <div class="space-y-4 max-w-[1120px] mx-auto">
    <!--  Items -->
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <!--  Item 1 -->
      <LiquidCard
        imgSrc="/public/img/26f9d5153b8643d7aab963be5d228dd2.webp"
        title="Discover & Analyze"
        description="We start by understanding your business, identifying bottlenecks, and mapping out opportunities for automation."
      />

      <!--  Item 2 -->
      <LiquidCard
        imgSrc="/public/img/f5704aed-07a6-482f-bd3f-ba9bd0b97ec9-copia.webp"
        title="Discover & Analyze"
        description="We start by understanding your business, identifying bottlenecks, and mapping out opportunities for automation."
      />
    </div>

    <!--  Items -->
    <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
      <!--  Item 1 -->
      <LiquidCard
        imgSrc="/public/img/ev-charging-wind-turbines.webp"
        title="Discover & Analyze"
        description="We start by understanding your business, identifying bottlenecks, and mapping out opportunities for automation."
      />

      <!--  Item 2 -->
      <LiquidCard
        imgSrc="/public/img/tesla-model-y-2019-rojo-trasera-exterior.webp"
        title="Discover & Analyze"
        description="We start by understanding your business, identifying bottlenecks, and mapping out opportunities for automation."
      />

      <!--  Item 3 -->
      <LiquidCard
        imgSrc="/public/img/livo.webp"
        title="Discover & Analyze"
        description="We start by understanding your business, identifying bottlenecks, and mapping out opportunities for automation."
      />
    </div>
  </div>
</section>
