---
import Badget from "../components/Badget.astro";
import LiquidCard from "../components/LiquidCard.astro";
---

<section
  data-aos="fade-up"
  class="mt-[40px] pt-[120px] pb-[120px] liquid-effect space-y-14 flex flex-col px-5 max-w-[1280px] mx-auto"
  id="solutions"
>
  <div class="space-y-4" data-aos="fade-up">
    <Badget title="Soluciones" />

    <h2 class="text-3xl md:text-5xl font-medium text-center text-balance">
      Eficiencia en cada carga: así diseñamos nuestras soluciones
    </h2>
    <p
      class="font-medium text-text-secundary text-base text-center text-balance max-w-[600px] mx-auto"
    >
      Soluciones a la medida para hogares, empresas, proyectos modulares e
      industrias de alta demanda. Potencia, control y continuidad en cada
      instalación.
    </p>
  </div>

  <div class="space-y-4 max-w-[1120px] mx-auto">
    <!--  Items -->
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <!--  Item 1 -->
      <LiquidCard
        imgSrc="/img/26f9d5153b8643d7aab963be5d228dd2.webp"
        title="Estaciones que crecen contigo"
        imgClass="max-h-[180px] w-full"
        description="Electrolineras modulares plug & play que reducen tiempos de obra. Escalables, trasladables y listas para integrar BESS o energía solar."
      />

      <!--  Item 2 -->
      <LiquidCard
        imgSrc="/img/f5704aed-07a6-482f-bd3f-ba9bd0b97ec9-copia.webp"
        title="Potencia extrema para grandes desafíos"
        imgClass="max-h-[180px] w-full"
        description="Cargadores de alta potencia (hasta 600 kW) con integración BESS, diseñados para flotas pesadas, faenas mineras y entornos industriales críticos."
      />
    </div>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <!--  Item 1 -->
      <LiquidCard
        imgSrc="/img/ev-charging-wind-turbines.webp"
        title="Estaciones que crecen contigo"
        imgClass="max-h-[180px] w-full"
        description="Electrolineras modulares plug & play que reducen tiempos de obra. Escalables, trasladables y listas para integrar BESS o energía solar."
      />

      <!--  Item 2 -->
      <LiquidCard
        imgSrc="/img/tesla-model-y-2019-rojo-trasera-exterior.webp"
        title="Potencia extrema para grandes desafíos"
        imgClass="max-h-[180px] w-full"
        description="Cargadores de alta potencia (hasta 600 kW) con integración BESS, diseñados para flotas pesadas, faenas mineras y entornos industriales críticos."
      />
    </div>
  </div>
</section>
